<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Prueba controlador</title>
        <meta charset="UTF-8">
            <link href="../static.css/estilos1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1>Lista de Paises</h1>
        </header>
        
        <footer th:fragment="footer">
            <p>&COPY; Derechos Reservados 2022. Grupo 1. Desarrollo de aplicaciones web y patrones. </p>
        </footer>
    </body>
</html>
